<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-dashboard"></i>
            Dashboard 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app/rooms']" routerLinkActive="active">
            <i class="fas fa-comments"></i>
            Rooms
          </a>
        </li>
        <li class="nav-item" *ngIf="checkRole('owner')">
            <a class="nav-link" [routerLink]="['/app/companys']" routerLinkActive="active">
              <i class="fas fa-building"></i>
              Firmy
            </a>
          </li>
        <li class="nav-item" *ngIf="checkRole('owner')">
          <a class="nav-link" [routerLink]="['/app/users']" routerLinkActive="active">
            <i class="fas fa-users"></i>
            Users
          </a>
        </li>
        <li class="nav-item" *ngIf="checkRole('owner')">
          <a class="nav-link" [routerLink]="['/app/configure-chats']" routerLinkActive="active">
            <i class="fas fa-edit"></i>
            Configure Chats
          </a>
        </li>
      </ul>
    </div>
  </nav>