<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dodawanie firmy</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/app/companys']">Wróć na liste</button>
      </div>
    </div>
  </div>
  <div>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Nazwa firmy</label>
        <input type="text" class="form-control" name="nazwa" [(ngModel)]="company.name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nazwa firmy</label>
        <textarea class="form-control" name="description" id="description" [(ngModel)]="companydescription" ></textarea>
      </div>
      <button (click)="save()" class="btn btn-success float-right">
        {{ id ? 'Zapisz' : 'Dodaj'}}
      </button>
    </form>
  </div>
  