<div class="container bg-primary text-center">
  <h1>Chat rooms</h1>
</div>
<div class="container mb-4 mouse-pointer">
  <div *ngFor="let room of chatRooms; let i = index;" class="mt-2 border border-dark bg-secondary pt-2 pb-2" (click)="openRoom(i)">
    Room {{ i+1 }}
  </div>
  <h3>Room {{ openedRoom }}</h3>
  <div *ngFor="let message of chatRooms[openedRoom].messages" class="row">
    <div class="round message float-right bg-primary p-3 mb-1">
      <p>{{ message }}</p>
    </div>
  </div>
  <form [formGroup]="roomForm">
    <div class="form-group">
      <label for="text">Write message: </label>
      <textarea class="form-control" id="text" rows="3" formControlName="message"></textarea>
    </div>
    <button type="button" class="btn btn-success float-right" (click)="send()">Send</button>
  </form>
</div>