<div class="row">
  <div class="col-2">
    <app-list-name 
      [chatRooms]="chatRooms"
      [openedRoom]="openedRoom"
      (openRoom)="openRoom($event)"></app-list-name>
  </div>
  <div class="col-10">
    <div *ngIf="openedRoom != null; else chooseRoom">
      <app-room-view
          [messages]="chatRooms[openedRoom]?.messages"
          [openedRoom]="openedRoom"
          (sendData)="sendData($event)"
        ></app-room-view>
    </div>
    <ng-template #chooseRoom>
      <p>Wybierz pokój z listy aby otworzyć historie wiadomości...</p>
    </ng-template>
  </div>
</div>
