<table class="table">
    <thead>
      <tr>
        <th>L.p.</th>
        <th scope="col" *ngFor="let column of config?.columns">
          {{column.column}}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of config?.data; let i = index">
        <td scope="row">{{i+1}}.</td>
        <td *ngFor="let column of config?.columns" [routerLink]="['./edit/', row._id]">
          {{row[column.name] }}
        </td>
        <td class="td-action">
          <button type="button" (click)="delete(row._id)" class="btn btn-danger btn-sm float-right"><i class="fa fa-trash"></i></button>
          <button type="button" [routerLink]="['./edit/', row._id]" class="btn btn-info btn-sm float-right"><i class="fa fa-edit"></i></button>
        </td>
      </tr>
     
    </tbody>
  </table>