<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dodawanie firmy</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" [routerLink]="['../']">Wróć na liste</button>
      </div>
    </div>
  </div>
  <div>
    <form>
      <input type="text" name="nazwa" [(ngModel)]="company.name">
      <input type="text" name="description" [(ngModel)]="company.description">
      <button (click)="save()">Dodaj</button>
    </form>
  </div>
  